/* Color de fondo general */
body
{
    background-color: mintcream;
}
/* Color de cada seccion*/
header , .searchnav, .mainheader ul li a, .dropdiv
{
    background-color: #222725;
    color: #E4E6C3;
    -moz-transition:all ease .8s; /*Aplicamos una ligera transición*/
    -webkit-transition:all ease .8s ;
    transition:all ease .8s;
}
.searchform
{
    padding-inline-start: 5%;
}

.register a
{
    color: #E4E6C3;
}
.mainheader
{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 88px;
}
/* tamaño del logotipo */
.searchnav a img
{
    max-width: 10em;
    max-height: 10em;
}
/* hover del menu categorias */
.nvi:hover
{
    background-color: #899878;
    color: #222725;
    border-radius: 0.6em;
}
.dropdiv
{
    border: 1px solid #E4E6C3;
}
/* Color de los botones*/
.my-btn
{
    background-color: #222725;
    color: #E4E6C3;
    -moz-transition:all ease .8s; /*Aplicamos una ligera transición*/
    -webkit-transition:all ease .8s ;
    transition:all ease .8s;
}
.searchbtn
{
    margin-left: 2%;
    -moz-transition:all ease .8s; /*Aplicamos una ligera transición*/
    -webkit-transition:all ease .8s ;
    transition:all ease .8s;
}
/* hover boton de busqueda e incio de sesion */
.my-btn:hover
{
    background-color: #899878;
    color: #222725;
    border-color: black;
}
/* texto del banner */
.msg
{
    color: black;
}
/* boton del banner */
.msg button
{
    color: #E4E6C3;
    background-color: black;
}
/* hover del texto del banner */
.msg button:hover
{
    background-color: #222725;
    color: #E4E6C3;
    
}

.enl
{
    font-weight: bold;
    color: #222725;
    -moz-transition:all ease .8s; /*Aplicamos una ligera transición*/
    -webkit-transition:all ease .8s ;
    transition:all ease .8s;
}
.enl:hover
{
    text-decoration: none;
    color: #3F5E5A;
}

.start
{
    background-color: mintcream;
}

.boxproduct
{
    background-color: azure;
}

.mapframe
{
    height: 500px;
    width: 100%;
    margin-top: 50px;
}

.registerbtn:disabled,
.registerbtn[disabled]{
    background-color: #222725;
    color: #e4e6c3;
    opacity: 0.5;
    border-color: black;
}
/* texto de campos obligatorios */
.ob
{
    filter: alpha(opacity=0); /*Opacidad Para IE */
    opacity: 0; /*Inicialmente transparente */
    color: #222725;
    -moz-transition:all ease .8s; /*Aplicamos una ligera transición*/
    -webkit-transition:all ease .8s ;
    transition:all ease .8s;
}
/* hover asterisco texto de campos obligatorios */
.ast:hover .ob
{
    filter: alpha(opacity=70);
    opacity: .7;
}

.profile_photo img
{
    margin-top: 20px;
    max-width: 70%;
    max-height: 70%;
}
