/* Color de fondo general */
body
{
    background-color: #F7F7F2;
}
/* Color de cada seccion*/
.mainheader, .mainnav, .searchnav, .mainheader ul li a
{
    background-color: #222725;
    color: #E4E6C3;
}
.mainheader
{
    padding-left: 3em;
    padding-right: 3em;
}
/* Configuracion Cabecero
.menuheader
{
    display: inline-block;
}*/
/* tamaño del logotipo */
.mainheader nav img
{
    max-width: 12em;
    max-height: 12em;
}
/* Configuracion menu categorias*/
.list
{
    border-top: 1.5px solid #E4E6C3;
    border-bottom: 1.5px solid #E4E6C3;
    padding-top: 10px;
    padding-bottom: 10px;
}
/*
.navform
{
    margin-right: 3em;
}
*/
/* hover del menu categorias */
.nvi:hover
{
    background-color: #899878;
    color: #222725;
    border-radius: 0.6em;
}
.signdiv
{
    padding-right: 5em;
}
/* Color del boton de busqueda e incio de sesion */
.searchbtn, .sign_in_btn
{
    background-color: #222725;
    color: #E4E6C3;
}
/* hover boton de busqueda e incio de sesion */
.searchbtn:hover,.sign_in_btn:hover
{
    background-color: #899878;
    color: #222725;
}
/* configuracion barra de busqueda */
.searchnav div
{
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 5em;
}
/* Configuracion del banner*/
.banner
{
    padding-top: 0em;
    opacity: 0.8;
}
/* texto del banner */
.msg a
{
    font-weight: bold;
    color: black;
}
/* hover del texto del banner */
.msg a:hover
{
    text-decoration: none;
    color: #222725;
}
